body {
    &.home {
        .primary-section {
            background: rgb(57, 40, 124);
            background: linear-gradient(180deg, rgba(57, 40, 124, 1) 0%, rgba(255, 255, 255, 1) 16%);
        }
    }

    &.track,
    &.tracks {
        .primary-section {
            background: rgb(104, 20, 22);
            background: linear-gradient(180deg, rgba(104, 20, 22, 1) 0%, rgba(255, 255, 255, 1) 13%);
        }

        .tracks-full-actions button {
            background: rgb(104, 20, 22);

            &.btn:hover {
                color: var(--bs-btn-hover-color);
                background-color: var(--bs-btn-hover-bg);
                border-color: var(--bs-btn-hover-border-color);
            }
        }
    }

    &.playlists,
    &.playlist {
        .primary-section {
            background: rgb(84, 109, 148);
            background: linear-gradient(180deg, rgba(84, 109, 148, 1) 0%, rgba(255, 255, 255, 1) 9%);
        }

        .playlist-full-actions button {
            background: rgb(84, 109, 148);

            &.btn:hover {
                color: var(--bs-btn-hover-color);
                background-color: var(--bs-btn-hover-bg);
                border-color: var(--bs-btn-hover-border-color);
            }
        }
    }

    &.podcasts,
    &.podcast {
        .primary-section {
            background: rgb(3, 106, 49);
            background: linear-gradient(180deg, rgba(3, 106, 49, 1) 0%, rgba(255, 255, 255, 1) 9%);
        }

        .playlist-full-actions button {
            background: rgb(3, 106, 49);

            &.btn:hover {
                color: var(--bs-btn-hover-color);
                background-color: var(--bs-btn-hover-bg);
                border-color: var(--bs-btn-hover-border-color);
            }
        }
    }

    /*&.search {
        .primary-section {
            background: rgb(235,93,11);
            background: linear-gradient(180deg, rgba(235,93,11,1) 0%, rgba(255,255,255,1) 25%);
        }
    }*/
    &.cmsPage {
        .primary-section {
            background: rgb(150, 181, 34);
            background: linear-gradient(180deg, rgba(150, 181, 34, 1) 0%, rgba(255, 255, 255, 1) 13%);
        }
    }
}



@media (min-width: 992px) {

    body {
        &.home {
            .primary-section {
                background: rgb(57, 40, 124);
                background: linear-gradient(180deg, rgba(57, 40, 124, 1) 0%, rgba(255, 255, 255, 1) 55%);
            }
        }

        &.track,
        &.tracks {
            .primary-section {
                background: rgb(104, 20, 22);
                background: linear-gradient(180deg, rgba(104, 20, 22, 1) 0%, rgba(255, 255, 255, 1) 75%);
            }

            .tracks-full-actions button {
                background: rgb(104, 20, 22);

                &.btn:hover {
                    color: var(--bs-btn-hover-color);
                    background-color: var(--bs-btn-hover-bg);
                    border-color: var(--bs-btn-hover-border-color);
                }
            }
        }

        &.playlists,
        &.playlist {
            .primary-section {
                background: rgb(84, 109, 148);
                background: linear-gradient(180deg, rgba(84, 109, 148, 1) 0%, rgba(255, 255, 255, 1) 75%);
            }

            .playlist-full-actions button {
                background: rgb(84, 109, 148);

                &.btn:hover {
                    color: var(--bs-btn-hover-color);
                    background-color: var(--bs-btn-hover-bg);
                    border-color: var(--bs-btn-hover-border-color);
                }
            }
        }

        &.podcasts,
        &.podcast {
            .primary-section {
                background: rgb(3, 106, 49);
                background: linear-gradient(180deg, rgba(3, 106, 49, 1) 0%, rgba(255, 255, 255, 1) 75%);
            }

            .playlist-full-actions button {
                background: rgb(3, 106, 49);

                &.btn:hover {
                    color: var(--bs-btn-hover-color);
                    background-color: var(--bs-btn-hover-bg);
                    border-color: var(--bs-btn-hover-border-color);
                }
            }
        }

        /*&.search {
        .primary-section {
            background: rgb(235,93,11);
            background: linear-gradient(180deg, rgba(235,93,11,1) 0%, rgba(255,255,255,1) 25%);
        }
    }*/
        &.cmsPage {
            .primary-section {
                background: rgb(150, 181, 34);
                background: linear-gradient(180deg, rgba(150, 181, 34, 1) 0%, rgba(255, 255, 255, 1) 55%);
            }
        }
    }

}


.bg-red {
    background: #cd1420;
}

.form-select {
    background-color: #FCE3D4;
    border: 2px solid #000;
    border-radius: 18px;
    font-weight: bold;
    padding-left: 18px;
}

.form-select * {
    background-color: #FDF1E8;

    font-weight: normal;
}