#player-progress-bar {

}
#playlist {
    td.actions {
        span {
            cursor: grab;
        }
    }
}

.tracklist {
    position: absolute;
    bottom: 284px;
}

.player-mobile {
    position: absolute;
    bottom: 120px;
}
// titre et area player:
// .player-mobile h5 {
//      overflow: hidden;
//      text-overflow: ellipsis " [..]";
//     //  text-wrap: nowrap;
//  }
