.player-desktop {
    max-height: 200px;
}

#player-progress-bar {

}
#playlist {
    td.actions {
        span {
            cursor: grab;
        }
    }
}

.tracklist {
    padding: 0 10px;
    bottom: 284px;
    @media (max-width: 992px) {
        position: absolute;
        bottom: 215px;
    }
}

.player-mobile {
    position: absolute;
    bottom: 51.5px;
    div {
        padding: 0 10px;
    }
}

.img-track-player {
    width: 100px;
    height: 100px;
}

// titre et area player:
// .player-mobile h5 {
//      overflow: hidden;
//      text-overflow: ellipsis " [..]";
//     //  text-wrap: nowrap;
//  }
