.player-desktop {
    bottom: 0px;
    max-height: 200px;
}

#player-progress-bar {

}
#playlist {
    td.actions {
        span {
            cursor: grab;
        }
    }
}

.tracklist {
    padding: 0;
    // padding: 0 10px;
    position: absolute;
    bottom: 100%;
    width: 100%;
    @media (min-width: 992px) {
        width: 96%;
    }
}

.player-section {
    padding-left: 1rem;
}

.player {
    width: 100%;
    @media (min-width: 992px) {
        width: 96%;
    }
}

.player-mobile {
    &>div {
        padding: 0 10px;
    }
}

.img-track-player {
    width: 100px;
    height: 100px;
}
#playlist-show {

    .bi-chevron-compact-up {
        display: inline;
    }
    .bi-chevron-compact-down {
        display: none;
    }
    &.expanded {
        .bi-chevron-compact-up {
            display: none;
        }
        .bi-chevron-compact-down {
            display: inline;
        }
    }
}

// titre et area player:
// .player-mobile h5 {
//      overflow: hidden;
//      text-overflow: ellipsis " [..]";
//     //  text-wrap: nowraaxp;
//  }
@media (max-width: 991px) {
    .footer-wrapper {
    //   left: 2%;
    //   width: 100%;
      width: 97%;
    }
  }

//   NOUVELLE VERSION PLAYER

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }
  .gallery-item,
  .gallery-item-inner {
  text-align: center;
  align-self:center
  }

  .item1 {
    grid-column: span 3;
    grid-row: span 1;
    @media (min-width: 992px) {
        padding-left: 0.5rem;
        }
    }


    .item2 {
    grid-column: span 1;
    grid-row: span 1;
    }
    .item3 {
    grid-column: span 4;
    grid-row: span 1;
    }

    @media (min-width: 992px) {

        .item1 {
          grid-column: span 2;
          grid-row: span 2;
        }
        .item2 {
          grid-column: span 2;
          grid-row: span 1;
        }
        .item3 {
          grid-column: span 2;
          grid-row: span 1;
        }
    }
