/* spacers */
.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.pe-6,
.px-6 {
  padding-right: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.ps-6,
.px-6 {
  padding-left: 4rem !important;
}



.vh-20 {
    height: 20vh !important;
}
.vh-80 {
    height: 80vh !important;
}

/* Overflows */
.oy-s {
    overflow-y: scroll;
}
.ox.s {
    overflow-x: scroll;
}
.oy-auto {
    overflow-y: auto;
}
.ox-auto {
    overflow-x: auto;
}

h5 {
    font-size: 1rem;
}


img.rounded {
    border-radius: 10px!important;
}

.card-img-top {
    min-width: 100px;
    max-width: 150px;
    border: 2px black !important;
}

.page-title {
    @media (max-width: 992px) {
        margin-top: 50px;
    }
}

.playlist-title ~ p, .podcast-title ~ p {
    overflow: hidden;
    text-overflow: ellipsis " [..]";
    text-wrap: nowrap;
}

.card-track > .position-relative, .card-track-col {
    width: fit-content;
}

#global-search-form {
    input {
        border-radius: 20px 0 0 20px;
    }
    button {
        border-radius: 0 20px 20px 0;
        border-left: none;
    }
}

