
.vh-20 {
    height: 20vh !important;
}
.vh-80 {
    height: 80vh !important;
}

/* Overflows */
.oy-s {
    overflow-y: scroll;
}
.ox.s {
    overflow-x: scroll;
}   
.oy-auto {
    overflow-y: auto;
}
.ox-auto {
    overflow-x: auto;
}   