/* spacers */
.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.pe-6,
.px-6 {
  padding-right: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.ps-6,
.px-6 {
  padding-left: 4rem !important;
}



.vh-20 {
    height: 20vh !important;
}
.vh-80 {
    height: 80vh !important;
}

/* Overflows */
.oy-s {
    overflow-y: scroll;
}
.ox.s {
    overflow-x: scroll;
}
.oy-auto {
    overflow-y: auto;
}
.ox-auto {
    overflow-x: auto;
}

h5 {
    font-size: 1rem;
}

#header-mobile {
    transition: 0.5s;
}

#logo-mobile {
    height: 75%;
    @media(min-width: 576px) {
        height: 100%;
    }
}

.main-of-page {
    @media(max-width: 991px) {
        padding-bottom: 50px;
    }
}


img.rounded {
    border-radius: 10px!important;
}

.card-img-top {
    min-width: 100px;
    max-width: 150px;
    border: 2px solid black !important;
    // @media (max-width: 991px) {
    //     width: 75px;
    //     height: 75px;
    // }
    // @media (min-width: 992px) {
    //     min-width: 100px;
    //     max-width: 150px;
    // }
}


.playlist-title ~ p, .podcast-title ~ p {
    overflow: hidden;
    text-overflow: ellipsis " [..]";
    text-wrap: nowrap;
}

.card-track > .position-relative, .card-track-col {
    width: fit-content;
}

#global-search-form {
    input {
        border-radius: 20px 0 0 20px;
    }
    button {
        border-radius: 0 20px 20px 0;
        border-left: none;
    }
}

// .top-menu > div > button {
//     background-color: #e5e1e0;
//     border: 3px solid !important;
// }


// item de menu actif
#side-menu a:active {
        color:green !important;
}

// item de menu survolé
#side-menu a:hover {
        color:green !important;
}

.primary-section {
    height: calc(100vh - 140px);
}

.logo-ministere {
    margin-left: -12px;
}
/*
[aria-label]:not([aria-label='']):hover:after {
    content: attr(aria-label);
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    padding: 5px 10px;
    background: #413219;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
}*/
// Add & Play buttons
/*.action-buttons button:hover:after {
        content: attr(aria-label);
        position: absolute;
        top: -2.4em;
        left: 50%;
    	transform: translateX(-50%);
        z-index: 1;
        padding: 5px 10px;
        background: #413219;
        color: #fff;
        border-radius: 4px;
        font-size: 1rem;
}*/

#dropdown-button-1 {
    z-index: 3;
}

/*#dropdown-button-1 a {
    border-bottom-color: gray !important;
}*/


// three dots bottom mobile menu

#three-dots-menu {
    width: 30px;
    // height: 30px;
    background-image: radial-gradient(circle, black 3px, transparent 4px);
    background-size: 100% 33.33%;
}


